body {
 background-color: white;
 background-repeat: repeat;
 font-family: Georgia, Arial, Times New Roman;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FC79C6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  background-color: #000000;
  color: #f1f1f1;
}

.about_me {margin:
  200px;
margin-top: 0px;}
p {margin-left: 200px;
margin-bottom: -60px;}

.atas {margin-bottom:-500px}

h1 {
  margin-left: 190px;
  margin-top: -20px;
  background: black;
  font-size: 60px;
  color: white;
  text-align: justify;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {text-align: left;
}
.main {
  margin: 200px;
}
.main_2 {
    margin-left: 200px;
    margin-top: -140px;
}

.slider{
  margin: 200px;
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	margin: 100px auto;
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;

	float: left;
	cursor: pointer;
	transition: all 0.5s;

	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
.map{margin: 200px}
